DATABASE_URL=
DIRECT_URL=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWKS_URL=

# Websocket link
NEXT_PUBLIC_WS_URL="http://localhost:3002/chat"

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# AI
GROQ_API_KEY=

# Root link
NEXT_PUBLIC_APP_URL="http://localhost:4000/"
NEXT_PUBLIC_API_URL="http://localhost:4001"
NEXT_PUBLIC_WEBSOCKET_URL="http://localhost:4002/chat"

# Stripe
STRIPE_SECRET_KEY=
WEBHOOK_SECRET_KEY=
STRIPE_PREMIUM_PRICE_ID=
STRIPE_ENTERPRISE_PRICE_ID=

# Bypasses the domains whitelisting to accept the localhost domain, since it will run on a dev server.
CURRENT_ENVIRONMENT='development'
