DATABASE_URL=
DIRECT_URL=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_JWKS_URL=

# Websocket link
NEXT_PUBLIC_WS_URL="http://localhost:3002/chat"

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# AI
GROQ_API_KEY=

# Root link
NEXT_PUBLIC_APP_URL="http://localhost:3000/"
NEXT_PUBLIC_API_URL="http://localhost:3001"
NEXT_PUBLIC_WEBSOCKET_URL="http://localhost:3002/chat"

# Stripe
STRIPE_SECRET_KEY=
WEBHOOK_SECRET_KEY=

CURRENT_ENVIRONMENT='development'
